:root{
    --bg: #254848;
    --input: #222;
    --dark: #132424;
    --title: #7FBEC4;
    --text: #FCF1D7;
    --spin: #FFEDEA;
    
    --bk-red:#D90E26;
    --bk-brn: #924107;
    --bk-grn: #0e9113;
    --bk-sct:#910e56;
    --bk-blu:#0E3891;
    --bk-vio: #6A6AFC;
    --bk-blk: #222;
    --bk-pnk: #D90eB1;
    --bk-aq: #13AEAE;
    --bk-rsp: #4F0B41;

    --h1: 2.0rem;
    --h2: 1.6rem;
    --h3: 1.4rem;
    --h4: 1.2rem;
    --h5: 1rem;
    --h6: .8rem;
    --h7: .5rem;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Afacad flux', Helvetica, sans-serif;
}
body{
    min-height: 100vh;
    min-width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background: linear-gradient(#254848, #407d7d);
    color: var(--text);
    margin: 0;
}
/* Pop-art background dots from initial steps:  https://css-irl.info/css-halftone-patterns/ */
.dotted {
	--dotSize: 0.5rem;
    --dot: #1F3B3B;
	width: 100vw;
    min-height: 100%;
	position: relative;
    background-image: radial-gradient(
        circle at center,
        var(--dot) 0.25rem,
        transparent 0
        ), radial-gradient(circle at center, var(--dot) 0.25rem, transparent 0);
    background-size: 1.3rem 1.3rem;
    background-position: 0 0, 0.65rem 0.65rem;
}

.container{ padding-inline: 14%;}