h2 {
    font-family: 'La Belle Aurore', cursive;
    color: var(--title);
}
h3 {
    font-size: var(--h3);
    align-items: center;
    color: var(--text);
}
p { font-weight: 100; }

/*--LIST BOOK - SHARED BY COMPONENTS--*/
#list-container {
    margin-top: 2rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    width: 100%;
}
#list-books {
    width: 100%;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 2rem;   
}
.book-card {
    background-color: rgba(37, 72, 72, .7);
    display: flex;
    height: 275px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
    box-shadow: 2px 2px 2px var(--dark);
}
.book-card img {  
    height: 150px;
    max-width: 120px;
    object-fit: contain;
    box-shadow: 3px 3px 3px var(--dark);
}
.load {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.load-spin {
    border: 4px solid #FFEDEA; 
    border-top: 4px solid #c47f4e; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}
.book-card h4 {
    font-size: var(--h4);
    color: var(--text);
    font-weight:100;
    max-width: 100%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}
.no-image {
    background-color: rgba(19, 36, 36, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100px;
}
.no-image p {
    color: var(--text);
}

/* ONE BOOK HIGHLIGHT - SHARED - GRADIENT BACKGROUND SPEECH BUBBLE */
.book-info {
    /* From https://css-generators.com/tooltip-speech-bubble/ */
    margin-top: -1rem;
    max-width: 100%;

    color: var(--text);
    font-size: 18px;

    /* tail dimension */
    --b: 2em; /* base */
    --h: 1.5em; /* height */
  
    --p: 50%;  /* main position (0%:top 100%:bottom) */
    --x: -2em; /* tail position (relative to the main position). Can be percentage */
    --r: 1.2em; /* the radius */
  
    --_e: max(var(--x),-1*var(--x));
    padding: 1rem 1rem 1.5rem 2.2rem;
    border-radius: var(--r)/min(var(--r),var(--p) - var(--b)/2) var(--r) var(--r) min(var(--r),100% - var(--p) - var(--b)/2);
    background: 100% 50%/calc(100% + var(--h)) calc(100% + 2*var(--_e)) 
      linear-gradient(-45deg,var(--grad2), var(--grad1)); /* the gradient */
    position: relative;
    z-index: 0;
}
/* Mask for speech bubble triangle on the left side */
.book-info:before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: calc(-1*var(--_e)) 0 calc(-1*var(--_e)) calc(-1*var(--h));
    padding-block: var(--_e);
    background-image: inherit;
    clip-path: polygon(50% 50%,
      var(--h) clamp(var(--b),var(--p) + var(--b)/2,100%),
      0 calc(var(--p) + var(--x)),
      var(--h) clamp(0%,var(--p) - var(--b)/2,100% - var(--b))) content-box;
}
.img-not-available{
    background-color: rgba(19, 36, 36, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190px;
    width: 140px;
    transform: rotate(-5deg);
    box-shadow: 3px 3px 3px var(--dark);
}

/*--ONE BOOK DETAIL--*/
.one-book {
    display:grid;
    grid-template-columns: 160px 4fr;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    padding-top: 2rem;
    margin-bottom: 1rem;
}

/*--RESPONSIVE--*/
@media ( max-width: 1140px ) {
    /*--LIST BOOKS - SHARED BY COMPONENTS--*/
    #list-books {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media ( max-width: 900px ) {
    /*--LIST BOOKS - SHARED BY COMPONENTS--*/
    #list-books {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media ( max-width: 768px ) {
    /*--LIST BOOKS - SHARED BY COMPONENTS
    #list-books {
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }*/
    .book-card {
        padding: 1rem;
    }
    /*--ONE BOOK RESPONSIVE--*/
    .one-book {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    /* Shift speech bubble triangle to top */
    .book-info{
        width: 100%;
        --x: -1.8em; /* tail position point to left book (relative to the main position). Can be percentage */
        --p: 70%;  /* offset right- main position (0%:left 100%:right) */
        --_e: max(0%,-1*var(--x) - var(--p),var(--x) + var(--p) - 100%);
        padding: 1em;
        background: 50% 100%/calc(100% + 2*var(--_e)) calc(100% + var(--h)) 
          linear-gradient(-45deg,var(--grad2), var(--grad1)); /* the gradient */
    }
    /* Speech bubble triangle mask*/
    .book-info:before {
        inset: calc(-1*var(--h)) calc(-1*var(--_e)) 0;
        padding-inline: var(--_e);
        clip-path: polygon(50% 50%,
          clamp(var(--b),var(--p) + var(--b)/2,100%) var(--h),
          calc(var(--p) + var(--x)) 0,
          clamp(0%,var(--p) - var(--b)/2,100% - var(--b)) var(--h)) content-box;
    }
    .book-image {
        padding-bottom: 2rem;
        z-index:100;
    }
    .book-info h3 {
        font-size: var(--h4);
        color: var(--text);
    }
}

@media ( max-width: 550px ) {  
    /*--LIST BOOK RESPONSIVE--*/
    #list-container{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1, span 2);
        text-align: center;
    }
    #list-books{
        grid-template-columns: repeat(2, 1fr);
    }
    .book-card h4{
        font-size: var(--h5);
    }

}
@media (max-width: 450px) {
     /*--LIST BOOK RESPONSIVE--*/
     #list-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    #list-books{
        display: flex;
        padding-top: 1rem;
        flex-direction: column;
        align-items: center;
    }
    .book-card{
        width: 90%;
    }
    .book-card{
        background-color: rgba(37, 72, 72, .7);
        display: flex;
        height: 275px;
        min-width: 150px;
        align-items: center;
        text-align: center;
        padding-inline: 1rem 1.5rem;
        gap: 1rem;
        box-shadow: 2px 2px 2px var(--dark);
    }
    .book-card h4{
        font-weight:100;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: clip;
    }
    .book-card img{    
        height:200px;
    }
}